/*import global font*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Open+Sans&display=swap');

h5 {
  font-family: 'Kanit', sans-serif;
  color: #c5e0d8
}

h4 {
  font-family: 'Kanit', sans-serif;
  color: #c5e0d8
}

h3 {
  font-family: 'Kanit', sans-serif;
  color: #c5e0d8
}

h1 {
  font-family: 'Kanit', sans-serif;
  color: #c5e0d8
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #c5e0d8
}
/* navbar background colour */
.topnav {
    background-color: #3a3a3a;
    overflow: hidden;
  }
  
  /* navbar style */
  .topnav a {
    float: left;
    color: #c5e0d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* navbar hover colour */
  .topnav a:hover {
    background-color: #c5e0d8;
    color: black;
  }
  
  /* navbar highlight CURRENT */
  .topnav a.active {
    background-color: #004e64;
    color: white;
  }


  
  /*image opacity & hover */
  img {
    opacity: 0.3;
  }
  
  img:hover {
    opacity: 1.0;
  }